@using JetSkyAirlines.Data.Models
@model CreateAirportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<title>Create Airport</title>
<div class="row">
    <h3>Create new Airport </h3>
    <form asp-action="Create" asp-controller="Airport" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Location"></label>
            <input asp-for="Location" id="Location" name="Location" placeholder="Location of the Airport..." class="form-control" />
            <input type="submit" class="btn btn-primary" value="Create Airport" />
        </div>
    </form>
</div>
