@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card-body text-center">
    <a asp-controller="Airplane" asp-action="Create" type="button" class="btn btn-success btn-lg text-center">Add Airplane</a>
</div>
<div class="card-body text-center">
    <a asp-controller="Airport" asp-action="Create" type="button" class="btn btn-success btn-lg text-center">Add Airport</a>
</div>
<div class="card-body text-center">
    <a asp-controller="Luggage" asp-action="Create" type="button" class="btn btn-success btn-lg text-center">Add Luggage</a>
</div>
<div class="card-body text-center">
    <a asp-controller="Feedback" asp-action="Create" type="button" class="btn btn-success btn-lg text-center">Add Feedback</a>
</div>
<div class="card-body text-center">
    <a asp-controller="Flight" asp-action="Create" type="button" class="btn btn-success btn-lg text-center">Add Flight</a>
</div>
